# git ignore file for those using svn-git

# makefile output
*.o

# target of make testlex
testlex

# target of make
kestrel

# ctags: for vim
tags

# preferences file for CLion (my IDE)
.idea/

# swap files
*.swp

# add folder for builds to git
build
build/*

# precompiled headerfiles
*.h.gch
*.hpp.gch
